In [28]:
import pandas as pd
import matplotlib as plt
import numpy as py
import sklearn

In [34]:
file_path = r"C:\Users\achra\Downloads\Strategy RA Research Exercise\2015_to_2020_Revenue_and_Expenditure_by_Transportation_Mode.csv"
df = pd.read_csv(file_path)
df.head()

      Type             Mode  Year  Currentdollars
0  Revenue  General Support  2020    4.800000e+05
1  Revenue         Pipeline  2020    1.580000e+05
2  Revenue            Water  2020    1.784773e+07
3  Revenue              Air  2020    3.840042e+07
4  Revenue        Railroads  2020    3.344000e+06

In [39]:
mapping = {'Currentdollars': 'Dollars'}
df = df.rename(mapper = mapping, axis =1)
df.head()

      Type             Mode  Year       Dollars
0  Revenue  General Support  2020  4.800000e+05
1  Revenue         Pipeline  2020  1.580000e+05
2  Revenue            Water  2020  1.784773e+07
3  Revenue              Air  2020  3.840042e+07
4  Revenue        Railroads  2020  3.344000e+06

In [45]:
total_profit = (df.query('(Type == "Revenue")  & (Mode == "Total")')['Dollars'].sum()) - (df.query('(Type == "Expenditure") & (Mode == "Total") ')['Dollars'].sum())
total_profit

45707991.3659997